# ======================
# Python
# ======================
.venv/
venv310/
__pycache__/
*.pyc

# ======================
# YOLO / AI
# ======================
runs/
*.cache

# ======================
# Data / Output
# ======================
input/
output/
dataset/
keepFiles/
ambiguous/

# ======================
# IDE / OS
# ======================
.vscode/
.DS_Store

# ======================
# Logs
# ======================
*.log